<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>item-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="clicked($event)">Default</ion-button>

  <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>State</ion-label>
      <ion-select placeholder="Select One" formControlName="state">
        <ion-select-option *ngFor="let state of stateOptions" [value]="state">{{ state | titlecase }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="button" color="light" (click)="navigateBack()" expand="block">Cancel</ion-button>
        <ion-button type="submit" expand="block">Save</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
